*{
    margin: 0px;
    padding: 0px;
}
div#header{
    width: 100%;
    height: 250px;
    background-color: #47bfb3;
}
.sociales img{
    margin-top:120px;
    margin-left: 50px
}
body{
    background-color:#ebf6fc ;

}


