
img{
	width: 300px;
	height: 360px;
	display: block;
	margin-left: 350px;
	margin-right: auto;
	margin-top: 400px;
}

}
.form-register{
	margin-top: 120px;
}

.form-register .botons{
width: 350px;
background: #ffffff;
border: none;
padding: 29px;
color: #42ada0;
margin: 50px;
font-size: 180px;
border-radius: 100px;
text-align: center;
font-size: 43px;
margin-left: 140px;
margin-top: 25px;
font-family: 'Source Sans Pro', sans-serif;

}


h1{
	font-size: 70px;
	color: #42ada0;
	margin-left: 180px;
	width: 700px;
	height: 20px;
	font-family: 'Source Sans Pro', sans-serif;
}




body{
    margin: 0;
    padding: 0;
    background-color:#b3fffb;  
    width: 428px;
    height: 926px;
    background-position: center;
    font-family: 'Source Sans Pro', sans-serif;
}
