*{
    margin: 0px;
    padding: 0px;
}
div#header{
    width: 100%;
    height: 250px;
    background-color: #ebf6fc;
}
.sociales img{
    margin-top:120px;
    margin-left: 50px
}
body{
    background-color:#47bfb3 ;

}
div#contenido{
    margin-top: 200px;
    padding: 100px;
    color: white;
    display: inline-block;
}
h1{
  font-size: 80px;
}
h2{
    font-size:30px;
    font-family: 'Source Sans Pro', sans-serif;
}
div#imagenes{
    padding: 85px;
    margin-top: -80px;
    margin-bottom: 100px;
}
#imagenes img{
    padding: 25px;
}




  








  






