body{
    margin: 0;
    padding: 0;
    background-color:#ebf6fc;  
    width: 428px;
    height: 926px;
    background-position: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.slider{
    margin-top: 0px;
    width: 1562px;
    height:  1104px;
    margin: none;
    overflow: hidden;

}
.slider ul{
    margin-top: 0px;
    display: flex;
    padding: 0;
    width: 6248px;
    height:  4416px;
    animation: cambio 14s infinite alternate;
}
.slider li {
    width: 1562px;
    height:  1104px;
    list-style: none;
    
}

.slider img {
    width: 1562px;
    height:  1104px;

}

@keyframes cambio{
    0% {margin-left: 0%;}
    20%{ margin-left: 0%; }

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

#hola{
    margin-top: 100px;
    margin-left: 70px;
}

h1{
    width: 1400px;
    margin-top: 30px;
    margin-left: 90px;
    font-size: 32px;

}


.form-register .botons{
width: 300px;
background: #fcf05a;
border: none;
padding: 29px;
color: black;
margin: 50px;
font-size: 200px;
border-radius: 100px;
text-align: center;
font-size: 43px;
margin-left: 1100px;
margin-top: 35px;
font-family: 'Source Sans Pro', sans-serif;

}

#a{ 
    margin-top: 0px;
    background-color: #47bfb3;
    width: 1540px;
  
}

#footer{
    display: inline-block;
    width: 850px;
    height: 1100px;
    padding-top: 30px;
    
}

.enlaces{
    margin-top: 0px;
}


.enlaces .botons{
width: 600px;
background: #ebf6fc;  
border: none;
padding: 29px;
color: black;
margin: 50px;
font-size: 250px;
border-radius: 100px;
text-align: center;
font-size: 43px;
margin-left: 90px;
font-family: 'Source Sans Pro', sans-serif;
margin-top: 40px;


}
.contenidos{
    margin-top:10px;
}


#contacto{

    
    margin-left: 50px;
    position: absolute;
    margin-top: 20px;
    display: inline-block;
    width: 600px;
    height: 950px;
    padding-top: 40px;
        
    }

section .controls{
    display: inline-block;
    height: 100px;
    width: 500px;
    margin-top: 20px;
    border: none;
    font-size: 45px;
    border-radius: 100px;
    background-color: #47bfb3;
    color: white;
    
}

section .controls::placeholder{
    margin: center;
    color:white;

}

section h4{
    font-size: 60px;
    color: white;
}

#controles{
 
    margin-top: -40px ;
    padding-left: 30px;
    background-color: white;
}

section .botones{


    width: 180px;
    height: 80px;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 100px;
    background-color: #e30613;
    border: none;
    color: white;
    
}
#nombres{
    margin-left: 18px;
    margin-top: 50px;
}
#correo{
    margin-left: 18px;
    margin-top: 50px;
}
#registrar{
    margin-left: 18px;
    margin-top: 50px;
}
.redes{
    margin-top: 40px;
    margin-left: -15px;
}
.sociales li{
    display: inline-block;
}
.sociales a {
    padding: 3px;
}


